force-app/main/default/flows/Assign_Onboarding_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <interviewLabel>Assign Onboarding Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Onboarding Tasks</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>employee_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tasks_assigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <formulas>
        <name>Due_Date_3</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <name>Due_Date_5</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <formulas>
        <name>Due_Date_7</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <recordCreates>
        <name>Create_Task_1</name>
        <label>Create I-9 Verification Task</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>Create_Task_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Tasks_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete I-9 Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>employee_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_2</name>
        <label>Create Employee Handbook Task</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Create_Task_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Tasks_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review Employee Handbook</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>employee_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_3</name>
        <label>Create Security Training Task</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Set_Tasks_Succeeded</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Tasks_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete Security Training</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>employee_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <assignments>
        <name>Set_Tasks_Succeeded</name>
        <label>Set Tasks Succeeded</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>tasks_assigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Tasks_Failed</name>
        <label>Set Tasks Failed</label>
        <locationX>440</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>tasks_assigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
