force-app/main/default/flows/Check_MFA_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <interviewLabel>Check MFA Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check MFA Status</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_MFA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>has_mfa</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <recordLookups>
        <name>Get_Contact_MFA</name>
        <label>Get Contact MFA</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_MFA_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_MFA_False</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Has_MFA__c</queriedFields>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordLookups>
    <assignments>
        <name>Assign_MFA_Output</name>
        <label>Assign MFA Output</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>has_mfa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactRecord.Has_MFA__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MFA_False</name>
        <label>Assign MFA False</label>
        <locationX>396</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>has_mfa</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
