force-app/main/default/flows/Get_Employee_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <interviewLabel>Get Employee Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Employee Record</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>employee_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employee_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>role_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>needs_laptop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <recordLookups>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <faultConnector>
            <targetReference>Set_Employee_Id_Empty_On_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employee_name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>employee_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>role_type</assignToReference>
            <field>Role_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>needs_laptop</assignToReference>
            <field>Needs_Laptop__c</field>
        </outputAssignments>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordLookups>
    <assignments>
        <name>Set_Employee_Id_Empty_On_Fault</name>
        <label>Set Employee Id Empty On Fault</label>
        <locationX>396</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>employee_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
