force-app/main/default/flows/Raise_Support_Ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <interviewLabel>Raise Support Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raise Support Ticket</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>308</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Issue_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>issue_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticket_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>requires_approval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>chargeable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Support_Request__c</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newTicketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <decisions>
        <name>Check_Issue_Type</name>
        <label>Check Issue Type</label>
        <locationX>308</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Build_Password_Reset_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Password_Reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>issue_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>password_reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Password_Reset_Ticket</targetReference>
            </connector>
            <label>Is Password Reset</label>
        </rules>
        <rules>
            <name>Is_Software_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>issue_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>software_access</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Department</targetReference>
            </connector>
            <label>Is Software Access</label>
        </rules>
        <rules>
            <name>Is_Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>issue_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Warranty</targetReference>
            </connector>
            <label>Is Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Department</name>
        <label>Check Department</label>
        <locationX>396</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Build_Software_Pending_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Engineering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Software_Auto_Approve</targetReference>
            </connector>
            <label>Is Engineering</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Warranty_Status</name>
        <label>Check Warranty Status</label>
        <locationX>660</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Build_Hardware_No_Warranty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRecord.Under_Warranty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Hardware_Under_Warranty</targetReference>
            </connector>
            <label>Has Warranty</label>
        </rules>
    </decisions>
    <assignments>
        <name>Build_Password_Reset_Ticket</name>
        <label>Build Password Reset Ticket</label>
        <locationX>56</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>newTicket.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>password_reset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Requires_Manager_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Chargeble__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Software_Auto_Approve</name>
        <label>Build Software Auto Approve</label>
        <locationX>308</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>newTicket.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>software_access</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Requires_Manager_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Chargeble__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Software_Pending_Approval</name>
        <label>Build Software Pending Approval</label>
        <locationX>484</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>newTicket.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>software_access</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Requires_Manager_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Chargeble__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Hardware_Under_Warranty</name>
        <label>Build Hardware Under Warranty</label>
        <locationX>572</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>newTicket.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hardware</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Requires_Manager_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Chargeble__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Hardware_No_Warranty</name>
        <label>Build Hardware No Warranty</label>
        <locationX>748</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>newTicket.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hardware</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Requires_Manager_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTicket.Chargeble__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ticket_Outputs</name>
        <label>Assign Ticket Outputs</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>ticket_number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTicket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requires_approval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTicket.Requires_Manager_Approval__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chargeable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTicket.Chargeble__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Ticket_Fault</name>
        <label>Assign Ticket Fault</label>
        <locationX>440</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>ticket_number</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requires_approval</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chargeable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <recordCreates>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Assign_Ticket_Outputs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Ticket_Fault</targetReference>
        </faultConnector>
        <inputReference>newTicket</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Warranty</name>
        <label>Get Contact Warranty</label>
        <locationX>660</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Warranty_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Build_Hardware_No_Warranty</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Under_Warranty__c</queriedFields>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordLookups>
</Flow>
