force-app/main/default/flows/Reset_Password.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <interviewLabel>Reset Password {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reset Password</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Contact_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reset_successful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>contactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <assignments>
        <name>Build_Contact_Update</name>
        <label>Build Contact Update</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>contactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactToUpdate.Password_Reset_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Password_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reset_False</name>
        <label>Set Reset False</label>
        <locationX>396</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>reset_successful</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Reset_True</name>
        <label>Set Reset True</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>reset_successful</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <recordUpdates>
        <name>Update_Contact_Password_Flag</name>
        <label>Update Contact Password Flag</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Set_Reset_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Reset_False</targetReference>
        </faultConnector>
        <inputReference>contactToUpdate</inputReference>
    </recordUpdates>
</Flow>
