force-app/main/default/flows/Verify_Identity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <interviewLabel>Verify Identity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Identity</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_By_Employee_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>employee_id_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>verified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <recordLookups>
        <name>Get_Contact_By_Employee_Number</name>
        <label>Get Contact By Employee Number</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Verified_Outputs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Verified_False</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employee_id_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Department</queriedFields>
        <queriedFields>EmployeeNumber__c</queriedFields>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordLookups>
    <assignments>
        <name>Assign_Verified_Outputs</name>
        <label>Assign Verified Outputs</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>verified</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactRecord.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Verified_False</name>
        <label>Assign Verified False</label>
        <locationX>396</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>verified</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
